$font-body : 'Roboto', sans-serif;
$font-title: 'Raleway', sans-serif;
$font-size : 14px; 
$color-white : #fff;
$color-black : #000;
$color-black-light: #141517; 
$color-border : #ddd;
$color-gray :#c0c0c0;
$color-red-light: #FD3A13;
$color-background-body-top: #1ABC9C;
$color-text-default: #5a5a5a;
$color-footer : rgb(51, 51, 51);
$color-background : rgb(242, 242, 243);

%transition-03{
	transition: all 0.3s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}